@using RazorComponentLibrary.Enums
@inherits Classes.Setting

<div class="@GetWidthClass() mb-3">
    <div class="card @GetColorClass() @IsBordered() @GetBorderClass() shadow-sm">
        <h6 class="m-3 float-left">@Title</h6>
        <div class="card-body">
            <p class="display-5 px-3 m-auto h-100">@Value</p>
            <Download Parent="@this.GetType().Name"></Download>
            <Setting Fill="this.Fill"></Setting>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Value { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }
}
